@font-face {
    font-family: "OS_Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OS_Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "OS_Light";
    src: url(../fonts/OpenSans-Light.ttf);
}

